<mat-toolbar class="footer-bar">
    <div class="col">
        <div class="row letter"><span>Contactos</span></div>
        <div class="row">
            <button mat-icon-button (click)="redirectToFacebook()"><mat-icon>facebook</mat-icon></button>
            <button mat-icon-button (click)="redirectToWhatsApp()"><mat-icon class="icon-whats">whatsapp</mat-icon></button>
        </div>          
    </div>  
    <div class="col size-logo">
        <span class="letter type_font">@KariNabor</span>
        <img class="size-logo" src="./assets/by_KariNabor.png">
    </div>
</mat-toolbar>
