.style-table{
  margin-top: 4%;
  color: #012340;
}
table {
width: 100%;
}
.filter-form{
width: 60%;
}
.filter-total-s{
width: 100%;
margin-top: 3%;
margin-bottom: 2%;
}
.aling-b{
width: 20%;
align-self: center;
text-align: right;
}
.mat-form-field {
font-size: 14px;
width: 85%;
}
.icons-aling{
text-align: right;
}
::ng-deep .warning{
background: rgb(36, 165, 19);
color: cornsilk;
}
.startPage{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 6%;
}

.style-text-init{
  font-size: x-large;
  font-variant: all-petite-caps;
  color:#073763;
  font-weight:bold;
}

.size-b-init{
  width: 50%;
}

.name-color{
  background: #0091ea;
  color: white;
}
.color-colums{
  color: #2c557a;
  background: #dfe0e1;
font-size: 1rem;
  }
.color1{
  color:rgb(255, 238, 0);
  font-weight: bold;
}
.color2{
  color:rgb(211, 12, 12);
  font-weight: bold;
}
.color3{
  color:#08cf04;
  font-weight: bold;
}
.styles-table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
::ng-deep .error{
  background: rgb(158, 8, 8);
  color: cornsilk;
}