.formSize{
    height: 85%;
    justify-content: center;
    margin-top: -1%;
}
.title-color{
    color: #021635;
 }
 .style-table{
     margin-bottom: 3%;
     justify-content: center;
 }
.icons-color{
    color: #022056;
}