<div class="filter-total-s row">
  <div class="filter-form col">
    <mat-form-field appearance="standard" class="style-table" >
      <mat-label>Buscar por nombre del cliente</mat-label>
      <mat-icon color="primary" matPrefix>person</mat-icon>
      <input matInput placeholder="Ej. ju.." #input autocomplete="off" (keyup)="filterByCustomer($event)">
    </mat-form-field>
  </div>
  <div class="filter-form col">
    <mat-form-field class="style-table" appearance="standard">
      <mat-label>Buscar por estatus del pedido</mat-label>
      <mat-icon color="primary" matPrefix>pending_actions</mat-icon>
      <mat-select [(ngModel)]="selectedValueStatusOrder" name="statusOrder" (ngModelChange)="filterByStatusOrder()">
        <mat-option *ngFor="let status of statusOrderOptions" [value]="status.id">
          {{status.orderStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-form col">
    <mat-form-field class="style-table" appearance="standard">
      <mat-label>Buscar por estatus de pago</mat-label>
      <mat-icon color="primary" matPrefix>price_check</mat-icon>
      <mat-select [(ngModel)]="selectedValuePaidFilter" name="statusPaid" (ngModelChange)="filterByStatusPaid()">
        <mat-option *ngFor="let status of statusOptions" [value]="status.id">
          {{status.paidStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-form col">
    <mat-form-field appearance="standard" class="style-table">
      <mat-label>Buscar por fecha de entrega</mat-label>
      <input matInput [matDatepicker]="datepicker" autocomplete="off" (dateInput)="filterByDateDelivery($event.value)">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z8 styles-table">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="codeClothing">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Código Prenda </th>
      <td mat-cell *matCellDef="let item"> {{item.codeShort}} </td>
    </ng-container>

    <ng-container matColumnDef="nameCustomer">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Nombre cliente </th>
      <td mat-cell *matCellDef="let item"> {{item.nameCustomer}} </td>
    </ng-container>

    <ng-container matColumnDef="typeService">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Tipo servicio </th>
      <td mat-cell *matCellDef="let item"> {{item.productServiceName}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Precio final </th>
      <td mat-cell *matCellDef="let item"> {{item.realPrice|currency}} </td>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Fecha registro</th>
      <td mat-cell *matCellDef="let item"> {{item.registrationDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Fecha entrega</th>
      <td mat-cell *matCellDef="let item"> {{item.deliveryDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Estatus pedido</th>
      <td mat-cell *matCellDef="let item"> 
        <div *ngIf="item.status==0" class="color0">
          Pendiente
        </div>
        <div *ngIf="item.status==1" class="color1">
          En proceso
        </div>
        <div *ngIf="item.status==2" class="color2">
          Retraso
        </div>
        <div *ngIf="item.status==3" class="color3">
          Terminado
        </div>
        <div *ngIf="item.status==4" class="color4">
          Entregado
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="statusPaid">
      <th mat-header-cell *matHeaderCellDef color="primary" class="color-colums"> Estatus pago</th>
      <td mat-cell *matCellDef="let item"> 
        <div *ngIf="item.statusPaid==0" class="color3">
          Pagado
        </div>
        <div *ngIf="item.statusPaid==1" class="color2">
          No pagado
        </div>
        <div *ngIf="item.statusPaid==2" class="color1">
          Adelanto
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="color-colums"> </th>
      <td mat-cell *matCellDef="let item" class="icons-aling">
        <a matTooltip="Información del pedido" (click)="openDialogToDescription(item,item.id)">
          <mat-icon color="accent">info</mat-icon>
        </a>
        <a matTooltip="Editar pedido" (click)="openDialogToEdit(item,item.id)">
          <mat-icon color="accent">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons>
  </mat-paginator>
</div>